[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "FKF.SP"]
	path = FKF.SP
	url = https://github.com/tomaspinall/fkf.sp
	shallow = true
	registered = true
[submodule "LSMRealOptions"]
	path = LSMRealOptions
	url = https://github.com/tomaspinall/lsmrealoptions
	shallow = true
	registered = true
[submodule "NFCP"]
	path = NFCP
	url = https://github.com/tomaspinall/nfcp
	shallow = true
	registered = true
